[run]
branch = true
source = bot
omit =
    bot/**/__main__.py
    bot/**/migrations/*

[html]
directory = reports/pytest/html

[xml]
output = reports/pytest/coverage.xml

[json]
output = reports/pytest/coverage.json

[lcov]
output = reports/pytest/coverage.lcov

[report]
format = text
skip_covered = true
show_missing = true
skip_empty = true
sort = Name
