discord.py==2.4
validators==0.34
pymongo==4.10
python-dotenv==1.0.1
requests~=2.32.3
pytz~=2024.2
aiohttp~=3.11
discordhealthcheck~=0.1.1
prometheus_client~=0.21
pyyaml~=6.0
openai~=1.78
mcstatus~=11.1
# webhook_listener~=1.2.0
